
*{

    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    /* border: 0.5px rgb(0, 0, 0) solid; */
}

:root {
    --principalcolor:#d93b23;
    --secondcolor:rgb(255, 255, 255);
  }
#headerprincipal{
    height: 5.4rem;
    background-color: var(--principalcolor);   
}
#navprincipal{
    height: 5.4rem;
   padding-top: 1rem;
   padding-left: 2rem;
   padding-bottom: 1rem;
   padding-right: 4rem;
   color: var(--secondcolor);
   font-weight: bold;
}
.logo{
  
    height: 100% !important;
    width: 6.7rem ;
}
.logo img{
    width: 6.7rem ;
}

.name{
    height: 100% !important;
    width: 10.5rem !important;
    
    color: var(--secondcolor);
}
.container{
  height: 100% !important;  
}
.clogin{
    width: 11rem !important;
   
}
.second_nav{
    padding:1rem ;
    background-color: #fbb61d;
    height: 2.6rem;
    width: 100%;
    color: var(--secondcolor);
    width: 100%;
    font-weight: bolder;
}
.ms-n5 {
    margin-left: -30px;
}
a, a:visited {
    font-family: Source Sans Pro,Roboto,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}
a{
    text-decoration: none;
   
}

.mq-shelf-link {
    position: relative;
    z-index: 1;
}
.mq-shelf-item{
  
    border-top: 1px solid #ccc;
}
element.style {
    width: 22px;
    height: 22px;
}
.mq-drop-icon[data-v-9a478542] {
    transition: all .3s linear;
}
.mq-icon.blue500 {
    fill: #0071ed;
}
.mq-icon {
    cursor: pointer;
}
.mq-drop-icon {
    transition: .5s;
}
*, :after, :before {
    box-sizing: border-box;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.c-pointer {
    cursor: pointer;
}

li {
    text-align: -webkit-match-parent;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    width: 100% !important;
    padding-left: 0;
   
}
.mq-shelf-link img {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}
.mq-shelf-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 30px 3px 20px;
    min-height: 50px;
   
    color: #333;
}
.mq-departments {
    position: absolute;
    height: 82.5vh !important;
    display: flex;
    flex-direction: column;
    z-index: 994;
    width: 240px;
    color: #333;
    transition: all .3s ease-in-out;
}
.mq-departments__header{
    padding-left: 10px;
    padding-top: 1rem;
}

.mq-departments-departments {
    height: 52.5vh !important;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    background-color: #fff;
}
.content-layer[data-v-1141fd05] .mq-departments {
    position: fixed;
    z-index: 5;
    top: var(--headerheight);
    left: 0;
    max-height: 82.5vh;
}
.mq-drop-icon[data-v-9a478542] {
    transition: all .3s linear;
}
.mq-icon.blue500 {
    fill: #0071ed;
}

.mq-icon {
    cursor: pointer;
}
.mq-drop-icon {
    transition: .5s;
}
.mq-shelf-drop[data-v-9a478542] {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 5px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 0.7rem !important;
}
a, a:visited {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1rem !important;
    font-weight: 400;
    color: #333;
}

.categorias{
  height: 100vh !important;  
  background-color: #333;
}
aside{
    height: 82.5vh;
}
.content-layer[data-v-1141fd05] .mq-departments {
    position: fixed;
    z-index: 5;
    top: var(--headerheight);
    left: 0;
    max-height: calc(100% - var(--headerheight));
}

.productos{
    background-color: #333;
    height: 85.2vh !important;
}
main{
    margin-left: 16rem !important;
    margin-top: 2rem;
    height: 78vh;
    flex-grow: 1;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.mq-product-hall[data-v-370856f0] {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
}
.mq-default[data-v-a5b5bd30] {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.05);
    padding: 22px 16px 20px;
    margin: 10px auto;
    transition: all .3s linear;
    min-height: auto;
}
.mq-default {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.05);
    padding: 22px 16px 20px;
    margin: 10px auto;
    transition: all .3s linear;
    min-height: auto;
}
.VueCarousel-slide {
    flex-basis: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
.tituloseccion{
    padding-left: 0.5rem;
    padding-right: 2rem;
    font-weight: bold;
    font-size: 1.2rem5;

}
.contenedorcards{
    
    height: 24.62rem;

}
.cardproduct{
    height: 23.313rem;
    background-color: #ccc;
    width: 14.47rem;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.05);
    padding: 22px 16px 20px;
    transition: all .3s linear;
}
.cardproduct:hover {
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%), 0 4px 5px rgb(0 0 0 / 15%), 0 2px 4px rgb(0 0 0 / 20%);
}
.contenedorimg{
  
    position: relative;
    height: 122.5px;
    text-align: center;
    width: 197px;
}
.contenedorsubt{
    height: 14.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulocard{
    font-size: 0.9rem !important;
    height: 2rem;
    line-height: inherit;
    text-align: inherit;
    color: #171717 !important;
    font-weight: 600px !important;
    }


.imgcard{
       
        width: auto;
        height: 100%;
        max-width: 100;
        z-index: 1;
        margin: auto;
        -o-object-fit: contain;
        object-fit: contain;
        background-color: #fff;
    }

#subtitle{
        display: block;
        
        font-size: .875rem;
        font-weight: 600px !important;
        color: rgb(92, 91, 91) !important;
       
}
.precio{
    font-size: 16.5px!important;
    margin: 0%;
    color: #171717;
    font-weight: 600;
}
.preciog{
    font-size: 12px!important;
    margin-top: 0;
    color: #666;
    font-weight: 400;
}
.cboton{
    width: 202px !important;
}
.carboton{
    background:  #fbb61d;
    color: #fff;
    margin: auto;
    width: 180px;
    font-weight: 700;
   
    color: #fff;
    border: 1px solid  #fbb61d;
    font-weight: 600!important;
    border-radius: 20px;
}
#btnlogin{
    display: none;
}
#navphone,#buscadordos{
    display: none;
}
.ccarrito{
    background-color: transparent;
    border: transparent;
}
.horizontal-scrollable > .rowww {
   
}
.horizontal-scrollable > .rowww > .carta {

   
}
/* ------------media------------------------------ */

@media screen and (max-width:429px){
    .logo{
        display: none !important;
    }
    .name{
        display: none !important;
    }
.crecomendados, .clogin{
    display: none !important;
}
#btnlogin{
    display: block;
}    
#pasillos{
    display: none;
}

main{
    height: 77.1vh;
    margin: 0px !important;
    background-color:#f3f1eee9;
    padding-top: 1.5rem;
   
}
#navphone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #ffffff;
    padding-left: 2.5rem ;
    padding-right: 2.5rem ;
    padding-top: 1rem;
    
}
.second_nav{
    display: none !important;
}
#btnlogin{
    height: 2.5rem !important;
    width: 2.5rem !important;
    background-color: #8f473be2;
    border: transparent;
    border-radius: 50%;}

.first_nav{
height: 100% !important;
width: 100% !important;
gap: 0px !important;
padding: 1rem !important;
justify-content: space-between;

    }   
.ccarrito{
    justify-content: start;
    align-items: start !important;
}
#buscadoruno{
display: none !important;
}
#buscadordos{
    display: flex;
    position: relative;
    top: -15px;
    z-index: 1;
    width: 90vw;
    height: 3rem;
    margin-left: 1.3rem;
}
.tituloseccion {
   
    padding-right: 0.5rem !important;}

.contenedorcards{
   height: 15rem !important; 
 
  
}
.cardproduct {
    height: 14rem;
    background-color: #ccc;
    width: 8rem !important;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.05);
    transition: all .3s linear;
    padding: 10px !important;
}
.cboton{
    width: 106px !important
} 
.carboton{
    height: 1.3rem; 
} 
.contenedorimg {
    position: relative;
    height: 5rem;
    text-align: center;
    width: auto;
}
.titulocard {
    font-size: 11px !important;   
    margin: 3px;
 
}
#subtitle {
    margin: 3px; 
}
.contenedorprecio{
    justify-content: center;
    align-items: center;
}
.precio {
    font-size: 12px !important;
    margin: 0%;
    color: #171717;
    font-weight: 600;
    margin-top: 3px !important;
}
.preciog {
    font-size: 11px!important;
    text-align: center;
}
#botagregar{
    margin-block-start: auto; 
}
.mq-shelf-drop{
    display: none;
    
}
.mq-shelfs{
    display: flex;
flex-wrap: wrap;
gap: 13px;

}
.mq-shelf-item{
    width: 110px!important;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-top: transparent;
    box-shadow: 2px 2px 2px 2px rgba(199, 196, 196, 0.326);
    border-radius: 8px;
   

}

.mq-shelf-link img {
    width: 95px;
    height: 95px;
    margin: 0px;
    
}
.mq-shelf-link{
    padding: 0px;
    width: 105px!important;
    height: 145px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.mq-shelf-title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}
  }

  .contenedorcards{
    overflow-y: hidden;
    overflow-x: scroll;
   
  }
  
  .cardproduct {
    display: inline-block;
    margin-right: 5px;
  }
.butnav{
background-color:rgb(255, 255, 255) ;
border: transparent;
}